.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.cache/
.oh-my-zsh/
.ssh/
.vim/
.viminfo
.zsh-update
.zsh_history
.zshrc-e
.zshrc.pre-oh-my-zsh
.rubies/
.subversion/
src/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
