.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.cache/
.gem/
.gitconfig
.oh-my-zsh/
.pry_history
.rubies/
.ssh/
.subversion/
.vim/
.viminfo
.zcompdump-*
.zsh-update
.zsh_history
.zshrc-e
.zshrc.pre-oh-my-zsh
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
src/
